[user]
  name = Jon Dean
  email = jon@jonathandean.com
[core]
  autocrlf = input
  excludesfile = ~/.gitignore_global
[color]
  branch = auto
  diff = auto
  status = auto
[alias]
  co = checkout
  ci = commit
  rb = rebase
[push]
  default = upstream
[help]
  autocorrect = 1
[difftool "sourcetree"]
  cmd = opendiff \"$LOCAL\" \"$REMOTE\"
  path = 
[mergetool "sourcetree"]
  cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
  trustExitCode = true