# Ignore everything
*

# But not these files...

# Zsh
!*.zshrc

# Oh My Zsh
!.oh-my-zsh/*

# Git
!.gitconfig
!.gitignore
!.gitignore_global

# Vim
!*.gvimrc
!*.vimrc_common
!*.vimrc
!*.vim

# Silver Searcher
!.agignore
